@media(min-width:320px) and (max-width:767px){
    .banner_txt h1{
        font-size: 27px;
    }
    .banner_txt p{
        font-size: 14px;
    }
    .service_heading h1{
        font-size: 15px;
    }
    .service_heading p{
        font-size: 12px;
    }
    .agency_heading h1{
        font-size: 25px;
    } 
    .agency_heading p{
        font-size: 14px;
    } 
    .banner_2_text h1{
        font-size: 27px;
    }
    .banner_2_text p{
        font-size: 14px;
    }
    .banner_2_text h1{
        font-size: 23px;
    }
    .banner_2_text p{
        font-size: 13px;
    }
    .banner-btn{
        padding: 5px 15px;
    }
}
@media(min-width:768px) and (max-width:991px){
    .service_content h1{
       font-size: 16px;
   }

}
@media(min-width:320px) and (max-width:991px){
    .clint_img{
          width: 15%;           
    }
}
@media(min-width:320px) and (max-width:1399px){
    .clint_img{
        top: 97%;
        /* width: 20%; */
    }
}