/*font-family: 'Poppins', sans-serif;*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: white;
}
.nav-item{
    margin-right:50px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #28ABE3;
}
.navbar-light .navbar-nav .nav-link{
    position: relative;
}
.navbar-light .navbar-nav .nav-link::before{
    content: '';
    left: 10%;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: #008ed6;
    position: absolute;
    transition: 0.3s all ease-in-out;
   
}
.navbar-light .navbar-nav .nav-link::after{
    content: '';
    right: 10%;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: #008ed6;
    position: absolute;
    transition: 0.3s all ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover::before{
    width: 38%;
}
.navbar-light .navbar-nav .nav-link:hover::after{
    width: 38%;
}

.navbar-brand .img h1{
    font-size: 50px;
    font-weight: 700;
    color: #28ABE3;
}
.banner{
    background-image: url("img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    position: relative;
}
.banner_txt{
    padding-top: 15%;
    min-height: 100vh;
    margin: auto;
}

.down{
    font-size: 20px;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    position: absolute;
    animation: updown 1s linear infinite;
    animation-direction: alternate;
}
@keyframes updown{
    0%{
        top: 80%;
    }
    100%{
        top: 90%;
    }
}
.banner h1{
    text-align: center;
    color: white;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}
.banner h1 span{
    color: #05e2ff;
}
.banner p{
    margin-top: 15px;
    text-align: center;
    color: white;
    font-size: 17px;
    font-family: 'Playfair Display', serif;
}
.banner-btn, .banner-btn1{
    color: white;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #28ABE3;
    border:  1px solid #28ABE3;
    box-shadow: none;
    margin-bottom: 10px;
}
.banner-btn:hover{
    color: white;
    background: transparent;
}
.banner-btn1:hover{
    background: transparent;
}
.banner-btn1{
    margin-bottom: 50px;
}
.service_heading h1{
    font-size: 35px;
    color: black;
    font-family: 'Playfair Display', serif;
}
.service_heading p{
    margin-top: 10px;
    color: black;
    font-size: 17px;
    font-family: 'Playfair Display', serif;
}
.service_heading span{
    margin: auto;
    display: block;
    margin-top: 30px;
    width: 100px;
    height: 1px;
    border: 1px solid #a4a9af;
}
.service_content{
    border: 1px solid rgb(212, 206, 206);
    padding: 20px;
    margin-bottom: 25px;
    transition: 0.3s all ease-in-out;
    border-radius: 5px;
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.shape{
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: .8;
    display: none;
    z-index: -1;
}
.service_content:hover .shape{
    display: inherit;
}
.service_content:hover{
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    color: white;
}
.service_content i{
    font-size: 80px;
    color: #28ABE3;
}
.service_content h1{
    font-size: 24px;
    padding-top: 15px;
   font-weight: 500;
}
.service_content p{
    font-size: 17px;
    padding-top: 10px;
    font-family: 'Playfair Display', serif;
}
.agency{
    background-color: #F7F7F7;
}
.agency_heading h1{
    padding-top: 50px;
    font-size: 35px;
    color: black;
    font-family: 'Playfair Display', serif;
}
.agency_heading p{
    margin-top: 10px;
    color: black;
    font-size: 17px;
    font-family: 'Playfair Display', serif;
}
.agency_heading span{
    margin: auto;
    display: block;
    margin-top: 30px;
    width: 100px;
    height: 1px;
    border: 1px solid #a4a9af;
}

.agency_content h3{
    font-size: 18px;
    color: #777777;
    padding-bottom: 25px;
}
.agency_content i{
    color: #28ABE3;
}
.agency_img img{
    width: 100%;
    height: 100%;
}
.banner_2{
    background-image: url("img/call-to-action-bg-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.particles-js-canvas-el{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}
.ll{
    z-index: 99 !important;
}
.banner_2_text{
    color: white;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner_2_text h1{
    text-align: center;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
}
.banner_2_text p{
    text-align: center;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
}
.points{
    margin-bottom: 20px;
}
.points h1{
    padding-top: 15px;
    color: #444444;
}
.points h4{
    font-size: 18px;
    color: #444444;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
}
.points i{
    font-size: 50px;
    color: #28ABE3;
}
.clint{
    background-color: #28ABE3;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.clint_row{
    margin: auto;
}
.clint_img{
    position: absolute;
    bottom: 0%;
    top: 80%;
    left: 50%;
    width: 10%;
    transform: translateX(-50%);
}
.clint_img img{
    width: 100%;
    border-radius: 50%;
}
.clint_row i{
    font-size: 65px;
    color: white;
}
.clint_row p{
    padding-top: 15px;
    font-size: 18px;
    color: white;

}
.clint_img h4{
   font-size: 15px;
}
.clint_img h6{
    font-size: 10px;
 }
.agency{
    margin-top: 160px;
}
.card_contant{
    background-color: white;
    margin-bottom: 30px;
    transition: 0.3s all ease-in-out;
}
.card_contant_sub{
    padding: 20px;
}
.card_contant_sub h1{
    font-size: 35px;
    font-weight: 500;
    left: 0;
    font-family: 'Playfair Display', serif;

}
.card_contant_sub p{
    font-size: 18px;
    left: 0;
    font-family: 'Playfair Display', serif;

}
.card_contant:hover{
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.card_btn{
    color: white;
    border-radius: 8px 0px 8px 0px;
    font-size: 18px;
    text-transform: uppercase;
    background-color:#28ABE3;
    border: 1px solid #28ABE3;
}
.card_btn:hover{
    color: black;
    background: transparent;
}
footer{
    background-color: #222222;
    min-height: 50vh;
    display: flex;
    align-items: center;
}
.footer_contatn{
    color: white;
}
.footer_contatn h3{
    text-align: left;
    padding-top: 30px;
    font-family: 'Playfair Display', serif;
}
.footer_contatn ul{
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: 'Playfair Display', serif;
}
.footer_contatn ul li{
    list-style-type: none;
    margin-bottom: 10px;
    transition: .3s all ease-in-out;
}
.footer_contatn ul li a{
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}
.footer_contatn ul li a:hover{
    color: #28ABE3;
}
.last_contant{
    background-color: #1B1B1B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.last_footer{
    color: white;
    margin: auto;
}
section{
    width: 100%;
}

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #60D7A9; */
    background-color: white;
}
  
.dots .dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 10px 0 10px;
    border-radius: 50%;
    background: #FC5B00;
    -webkit-animation: dot-dot-dot 1.4s linear infinite;
    animation: dot-dot-dot 1.4s linear infinite;
}
  
.dots .dot:nth-child(2) {
    animation-delay: .2s;
}
  
.dots .dot:nth-child(3) {
    animation-delay: .4s;
}
  
@keyframes dot-dot-dot {
    0%, 60%, 100% {
      -webkit-transform: initial;
        -ms-transform: initial;
          transform: initial;
}
    30% {
      -webkit-transform: translateY(-25px);
        -ms-transform: translateY(-25px);
          transform: translateY(-25px);
    }
}
